<section class="liste">
	<table class="rubrique">
		<tr class="title">
			<td class="description">Nom du thème</td>
			<td class="nbrsujet">Réponse(s)</td>
			<td class="nbrmsg">Vue(s)</td>
			<td class="lastmsg">Dernier message</td>
		</tr>
		<tr class="sujet">
			<td class="description"><?php echo '<a href="#">Nom du sujet</a><br/>
				Description blabla blablablabla bla bla'; ?></td>
			<td class="nbrreponse"><?php echo "40"; ?></td>
			<td class="nbrconsult"><?php echo "220"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Roland</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
		<tr class="sujet">
			<td class="description"><?php echo '<a href="#">Nom du sujet</a><br/>
				Description blabla blablablabla bla bla'; ?></td>
			<td class="nbrreponse"><?php echo "40"; ?></td>
			<td class="nbrconsult"><?php echo "220"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Dominique</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
		<tr class="sujet">
			<td class="description"><?php echo '<a href="#">Nom du sujet</a><br/>
				Description blabla blablablabla bla bla'; ?></td>
			<td class="nbrreponse"><?php echo "40"; ?></td>
			<td class="nbrconsult"><?php echo "220"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Lionel</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
	</table>
</section>