<section class="message clearfix">
	<div class="headmessage clearfix">
		<div class="messagetitle">Titre du message Titre du message Titre du message</div>
		<div class="navmessage">17 mesages - 
				<span><a href="#">Page 1 sur 3</a></span> - 
				<a href="page.1.html">1</a>
				<a href="page.2.html">2</a>
				<a href="page.3.html">3</a>
		</div>
	</div>
	<div class="bodymessage clearfix">
		<div class="messageuser">
			<p>Rolland</p>
			<span>Administrateur</span>
			<span>Messages postés : 22</span>
		</div>
		<div class="messagetext">
			<span>par <a href="#">Rolland</a> le 8 février 09:44</span>
			<p>
			<?php echo '$data["message"];'.'blablabla bla bla bla bla bla<br>
			je suis un élève de la 3wa et j\'aime le PHP.<br><br><br>
			Ce message ne s\'autodétruira pas dans 10s.' ?>
			</p>
		</div>
	</div>
	<div class="footmessage">
		<button type="submit" id="btnmsg">Répondre</button>
		<div class="navmessage">17 mesages - 
				<span><a href="#">Page 1 sur 3</a></span> - 
				<a href="page.1.html">1</a>
				<a href="page.2.html">2</a>
				<a href="page.3.html">3</a>
		</div>
	</div>
</section>