<section class="liste">
	<table class="rubrique">
		<tr class="title">
			<td class="description">Nom de la rubrique</td>
			<td class="nbrsujet">Sujet(s)</td>
			<td class="nbrmsg">Message(s)</td>
			<td class="lastmsg">Dernier message</td>
		</tr>
		<tr class="theme">
			<td class="description"><?php echo '<a href="#">Nom du thème</a>'; ?></td>
			<td class="nbrsujet"><?php echo "40"; ?></td>
			<td class="nbrmsg"><?php echo "220"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Lioneld</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
		<tr class="theme">
			<td class="description"><?php echo '<a href="#">Nom du thème</a>'; ?></td>
			<td class="nbrsujet"><?php echo "65"; ?></td>
			<td class="nbrmsg"><?php echo "148"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Nicolas</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
		<tr class="theme">
			<td class="description"><?php echo '<a href="#">Nom du thème</a>'; ?></td>
			<td class="nbrsujet"><?php echo "105"; ?></td>
			<td class="nbrmsg"><?php echo "1200"; ?></td>
			<td class="lastmsg"><?php echo 'par <a href="#">Roland</a><br>
				le 10 février 2014 11:40'; ?></td>
		</tr>
	</table>
</section>