<html>
	<head>
		<meta charset="UTF-8">
		<title>Forum dynamique</title>
		<script src="sources/jquery-2.1.0.min.js"></script>
		<script src="sources/script.js"></script>
		<link rel="stylesheet" type="text/css" href="sources/reset.css">
		<link rel="stylesheet" type="text/css" href="sources/style.css">
	</head>
	<body>
		<?php require "controlers/header.php"; ?>
		<div id="content">
			<?php require "controlers/content.php"; ?>
		</div>
		<?php require "controlers/footer.php"; ?>
	</body>
</html>