/* BASE */
body{
	width: 1000px;
	min-height: 800px;
	margin: 0 auto;
	color: black;
}
a{
	text-decoration: none;
}

	header{
		width: 100%;
	}


	#content{
		
		
	}
		#navigation{
			display: block;
			width: 100%;
			text-align: right;
		}
		#connexion{
			display: inline-block;
			width: 30%;
			margin-right: 4%;
		}


	footer{
		text-align: center;
		padding-top: 50px;
	}


/* DETAILS */
header img{
	display: block;
	width: 30%;
	margin-left: 10%;
}
#navigation ul{
	display: inline-block;
	width: 60%;
	vertical-align: top;
}
#navigation li{
	display: inline-block;
	padding: 10px 25px 10px 25px;
}
#connexion form{
	display: inline-block;
}
#connexion form input{
	display: block;
	padding: 10px 25px 10px 25px;
	border: 1px solid silver;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}
#connexion form button{
	display: block;
	width: 100%;
	padding: 10px 55px 10px 55px;
	border: 1px solid gray;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}
#connexion .error_login{
	padding-top: 0.5em;
	text-align: center;
}
#connexion .error_message{
	color: red;
	margin-top: 1em;
}

#form-subscribe
{
	text-align:center;
}
#form-subscribe h2
{
	padding-bottom: 1em;
}

#content .liste table{
	display: block;
	width: 95%;
	margin: 20px auto;
	margin-top: 40px;
}
#content .liste .description, #content .liste .descriptionTheme, 
#content .liste .descriptionSujet, #content .liste .descriptionMessage, 
#content .liste .nbrsujet, #content .liste .nbrmsg, #content .liste .lastmsg,
#content .liste .nbrreponse, #content .liste .nbrconsult{
	border: 1px solid black;
	padding-top: 1%;
}
#content .liste .title{
	font-weight: bold;
	background-color: #8ac8d6;
}
#content .liste .description, #content .liste .descriptionTheme, 
#content .liste .descriptionSujet, #content .liste .descriptionMessage{
	width: 50%;
	height: 60px;
	text-align: left;
	padding-left: 2%;
}
#content .liste .nbrsujet{
	width: 10%;
	height: 60px;
	text-align: center;
}
#content .liste .nbrmsg{
	width: 10%;
	height: 60px;
	text-align: center;
}
#content .liste .nbrreponse{
	width: 10%;
	height: 60px;
	text-align: center;
}
#content .liste .nbrconsult{
	width: 10%;
	height: 60px;
	text-align: center;
}
#content .liste .lastmsg{
	width: 30%;
	height: 60px;
	text-align: left;
	padding-left: 2%;
}
#content .message{
	display: block;
	width: 95%;
	min-height: 150px;
	margin: 20px auto;
	margin-top: 40px;
}
#content .bodymessage{
	display: block;
	width: 100%;
	background-color: #8ac8d6;
	margin-bottom: 10px;
	border-radius: 15px 15px 15px 15px;
}
#content .bodymessage:last-child{
	display: block;
	width: 100%;
	background-color: #eef1f2;
	border-radius: 15px 15px 15px 15px;
}
#content .headmessage, #content .footmessage{
	display: block;
	background-color: white;
}
#content .messagetitle, #content .navmessage{
	background-color: white;
}
#content section .messagetitle{
	float: left;
	padding: 15px;
	color: navy;
	font-size: 20px;
}
#content section .navmessage{
	float: right;
	color: black;
	padding: 15px;
}
#content section .navmessage span{
	color: navy;
}
#content section .navmessage a{
	padding: 5px;
	color: black;
	background-color: silver;
}
#content section .navmessage a:first-child{
	background-color: white;
	color: navy;
}
#content section .messageuser{
	float: left;
	width: 25%;
	vertical-align: top;
}
#content section .messageuser p{
	color: navy;
	margin: 20px 20px 0px 20px;
}
#content section .messageuser span{
	display: block;
	margin: 0px 20px 20px 20px;
}
#content section .messagetext{
	float: right;
	width: 70%;
	vertical-align: top;
}
#content section .messagetext span{
	display: block;
	color: navy;
	margin: 20px 20px 0px 20px;
}
#content section .messagetext p{
	display: block;
	padding: 20px;
}
#content .liste button{
	display: inline-block;
	padding: 10px 50px 10px 50px;
	margin: 10px 0px 0px 30px;
}