body{
	width: 1000px;
	min-height: 800px;
	border: 1px solid red;
	margin: 0 auto;
}
#navigation{
	display: block;
	width: 100%;
	text-align: right;
}
#connexion{
	display: inline-block;
	width: 30%;
	margin-right: 4%;
}
header{
	border: 1px solid blue;
}
header img{
	display: block;
	width: 30%;
	margin-left: 10%;
}
#navigation ul{
	display: inline-block;
	width: 60%;
	vertical-align: top;
}
#navigation li{
	display: inline-block;
	padding: 10px 25px 10px 25px;
}
#connexion form{
	display: inline-block;
}
#connexion form input{
	display: block;
	padding: 10px 25px 10px 25px;
	border: 1px solid silver;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}
#connexion form button{
	display: block;
	width: 100%;
	padding: 10px 55px 10px 55px;
	border: 1px solid gray;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}
#content{
	border: 1px solid blue;
	min-height: 600px;
}
footer{
	text-align: center;
	padding: 15px;
}
